extends ../layout.pug 

block content
    .content
        #tags
            each tag in tags
                .tag
                    span #{tag.name}
        form(action="/tags/save" method="post")
            .form-group
                label(for="name") Name
                input(type="text" id="name" name="name"
                      placeholder="tag name" required="required")
            .form-group
                button(type="submit") create tag ~
