extends layout.pug

block title
    title WWMAIRS - ABOUT

block content
    .about
        h4 about wwmairs
        p
        | wwmairs is these days primarily a risograph duplicator in portland
        | oregon.
        p 
        | briefly: they grew up in new york; went to school in somerville, ma 
        | where they read books and wrote programs; worked on software for the 
        | city of denver; went to school again in portland where they learned 
        | to print things with, primarily, risographs and letterpresses.

        h4 about this site
        p 
        |this is the third version of my portfolio site 
        a(href="https://static.wwmairs.com") the first of which
        | was static and maintained slowly over a few years and then abandoned,
        | more or less, at the beginning of covid.
        p
        |the 
        a(href="https://wwmairs.github.io/books") second
        | was styled off something I had make for a friend earlier, sort of not
        | quite static, pulling things from a google sheet and then assembling
        | itself client-side, which was a sort of funny way to avoid buying 
        | server space somewhere.
        p 
        | this site is put together with express.js, and sqlite, and runs on a
        | server in new york somewhere.
