extends layout.pug

block content
    .about
        p wwmairs is these days primarily a risograph duplicator in portland oregon.
        p briefly: they grew up in new york; went to school in somerville, ma where they read books and wrote programs; worked on software for the city of denver; went to school again in portland where they learned more ways to put ink on paper.
