extends layout.pug

block title
    title WWMAIRS - ABOUT

block content
    .about.block
        
        h1 "freelance typesetting" 
        p
            ul
                li.styledlist ~ risograph printing & press care ~
                li.styledlist - letterpress printing -
                li.styledlist [ laser cutting & file prep ]
                li.styledlist * web design & development *
        p
            | wwmairs is the studio name and imprint of will mairs, portland
            | or based printer and computer nerd.

        p 
            | I seem these days to focus lots on small-run riso zines and
            | prints, especially of images with many inks and goofy gamuts.


        p 
            | lmk if you wanna work on something neat together !



