extends layout.pug

block title
    title WWMAIRS - ABOUT

block content
    .about
        
        p
        | wwmairs is a very small publishing house in a kitchen in portland,
        | oregon.

        p we do a few things, such as:

        span.bigtextblobs risograph printing ~
        span.bigtextblobs riso repair services <
        span.bigtextblobs web design & development *


