extends layout.pug 

block content
	if upload
		#upload
			include upload.pug
	#entries
			each entry in entries
				.entry
					.entry-description
						h4
							- var url = "/entry/" + entry.id;
							a(href=url) #{entry.name}
						p #{entry.description}
					.entry-photos
						if entry.Photos.length
							img(src=entry.Photos[0].path)
				
