extends layout.pug

block content
	h4 #{entry.name}
	p #{entry.description}
	p #{new Date(entry.date).toDateString()}
	each photo in entry.Photos
		- var path = "../uploads/" + photo.filename;
		img(src=path style="max-width: 90vw")


