extends ./layout.pug 

block content
    .content
        <div>
            <entries-by-tag tagname="zine"></entries-by-tag>
            <entries-by-tag tagname="print"></entries-by-tag>
        </div>
        if session.isWill
            div.block
                <edit-entry></edit-entry>
