html
	head
	title WWMAIRS
	block scripts
		link(href="/public/style.css" rel="stylesheet")
		link(href="https://use.typekit.net/gjr2olc.css" rel="stylesheet")
	body
		block content

		if !noMenu
			#menu
				ul
					li: a(href="/") wwm
					li
					li: a(href="/entries") work
