doctype html
html
    head
    title WWMAIRS
    link(rel="icon" type="image/x-icon" href="/public/8x8.gif")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block scripts
        script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.2/p5.min.js" 
                     integrity="sha512-rCZdHNB0AePry6kAnKAVFMRfWPmUXSo+/vlGtrOUvhsxD0Punm/xWbEh+8vppPIOzKB9xnk42yCRZ5MD/jvvjQ==" 
                     crossorigin="anonymous"
                     referrerpolicy="no-referrer")
        link(href="/public/style.css" rel="stylesheet")
        link(rel="stylesheet" href="https://use.typekit.net/gjr2olc.css")
        script(src="/public/webcomponents/entrytag.js" type="module")
    body
        #menu
            #name.round-border 
                h4 
                    a(href="/") wwmairs
            a#menu-button.round-border(onclick="document.getElementById('menu-links').classList.toggle('hidden')")
                        | ...
            #menu-links.hidden
                ul
                    li.round-border
                        a(href="/about") about
                    if session.isWill
                        li.round-border
                            a(href="/logout") logout
        block content

        script.
            var menuButton = document.getElementById("menu-button");
            function ondblclick(e) {
                menuButton.ondblclick = (e) => window.location = "/login";
                setTimeout(() => {
                    menuButton.ondblclick = ondblclick;
                }, 2000);
            }
            menuButton.ondblclick = ondblclick;
