extends layout.pug

block content   
    .content
        form(action="/login" method="POST").form.block
            h4= "are you will?"
            input(type="password" name="proof" placeholder="prove it")
            input(type="submit")
    
