html
	body
		form(action="/upload" method="POST" enctype="multipart/form-data")
			div
				label(for="name") Name
				input(type="text" id="name" placeholder="name")
			div
				label(for="dimensions") Dimensions
				input(type="text" id="dimensions" placeholder="dimensions")
			div
				label(for="description") Description
				input(type="textarea" id="description" placeholder="description")
			div
				label(for="photo") Photo
				input(type="file" id="photo")
			div
				button(type="submit") Upload!
