html {
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	--light-green: #c2ffb0;
	--green: #36c20c;
	--dark-green: #0e3b00;
	--off-white: #f0ede6;
	--blue: #1520ed;
	--yellow: #fcd41e;
	--red: #f23524;
	--black: #000000;
	color: var(--black);
	font-size: 12pt;
	font-family: ocr-a-std, monospace;
	font-weight: 400;
	font-style: italic;
	
}

a {
    text-decoration: none;
    color: initial;
}

body {
    margin: 2em;
    display: grid;

}

@media (min-width: 720px) {
    body {
        grid-template-columns: 200px 1fr;
    }

}
