html {
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	--light-green: #c2ffb0;
	--green: #36c20c;
	--dark-green: #0e3b00;
	--off-white: #f0ede6;
	--blue: #1520ed;
	--yellow: #fcd41e;
	--red: #f23524;
	background: var(--off-white);
	color: var(--dark-green);
	font-weight: 800;
	font-family: news-gothic-std, sans-serif;
	letter-spacing: .25em;
	margin-left: 2em;
	margin-right: 1em;
	margin-top: .5em;
	font-size: 20px;
	text-transform: uppercase;
}

a {
	color: var(--dark-green);
	text-decoration: none;
}

p {
	margin-top: .125em;
	margin-bottom: .25em;
	font-size: 12pt;
}

h1 {
	color: var(--light-green);
	text-transform: uppercase;
	font-size: 36px;
	text-align: center;
	-webkit-text-stroke: 3px var(--green);
	text-stroke: 3px var(--green);
	margin-top: 12pt;
	margin-bottom: 10pt;
}

h4 {
	margin-top: -.05em;
	margin-bottom: .25em;
	border-bottom: 3px dashed var(--dark-green);
}

#name {
	border: 3px dashed var(--red);
	color: var(--blue);
	padding: 1em;
	padding-left: 1.5em;
	padding-right: 1.75em;
	text-align: right;
	display: inline-block;
	float: right;
	letter-spacing: 1em;
}

button{
	border: 3px dashed var(--dark-green);
	border-radius: 0;
	background: var(--green);
	color: var(--dark-green);
	font-size: 1em;
	text-transform: uppercase;
}

/***********
 * entries *
 ***********/

#entries {
	padding-top: 40vh;
	margin-bottom: 3em;
}

.entry {
	margin-bottom: 50vh;
	display: inline-block;
}

.entry-description {
	border: 3px dashed var(--yellow);
	padding: 1em;
	height: max-content;
}

.entry-photos img {
	width: 100%;
	max-height: calc(100% - 10vh);
}

.date {
	font-size: 12;
	text-align: right;
	display: block;
}

/**********
 * upload *
 **********/

form {
	margin-bottom: 0;
}


#upload {
	border: 3px dashed var(--green);
	padding: 1em;
	display: inline-block;
}

#upload td {
	float: right;
}

#upload th {
	text-align: left;
}

#upload tr:not(:last-child) > th {
	border-bottom: 2px dashed var(--green);
	border-right: 2px dashed var(--green);
}

#upload input {
	border: none;
	background-color: var(--off-white);
	color: var(--dark-green);
}

#upload input::placeholder {
	color: var(--green);
}

#upload input[type=date] {
	color: var(--green);
}

#upload input[type=file] {
	margin-top: .125em;
	width: 100%;
	display: block;
}


@media (min-width: 750px) {
	.entry {
		display: grid;
		grid-template-columns: 1fr 5fr;
		grid-gap: 1em;
	}
}

/*********
 * index *
 *********/

.p5canvas {
	width: 100%;
}
