extends ../layout.pug 

block content
    if upload
        #upload
            include create.pug
    #entries
            each entry in entries
                .entry
                    a(href=url name=entry.name)
                        if entry.Photos.length
                          - var photo = entry.Photos[0];
                          - var data = "data:" + photo.mimetype + ";base64," + photo.bytes;
                          img(src=data style="height: calc(100vh - 4em)")
                
