extends ../layout.pug 

block content
    .content
        if upload
            #upload
                include edit.pug
        #entries
            each entry in entries
                .entry
                    if entry.Photos.length
                        - var photo = entry.Photos[0];
                        - var url = "/entry/" + entry.id;
                        a(href=url name=entry.name)
                            img.round-border.entry-img(src=photo.path)
                    
