extends ../layout.pug 

block append scripts
    script.
        if (!_data) {
            var _data = {};
        }

    script(type="module").
        import { createApp, ref } from "vue"
        import Entry from "./vue/entry.js"


        createApp(Entry).mount("#app");

block content
    .content
        #app
        if session.isWill
            entry-edit-view#new-entry(editable=true)
            p
                button(onclick="document.getElementById('new-entry').classList.toggle('hidden')")
                    | new entry
        #entries
            each entry in entries
                .entry.entry-tile
                    if entry.Photos.length
                        - var photo = entry.Photos[0];
                        - var url = "/entry/" + entry.id;
                        a.noarrow(href=url name=entry.name)
                            img.round-border.entry-img(src=photo.path)
                    
