extends ../layout.pug   


block append scripts
    - entry = entry ?? "";
    script(type="module").
        import { createApp, ref } from "vue"
        import EditEntry from "/vue/edit-entry.js"

        createApp({
            components: {
                EditEntry
            },
            setup() {
                var entry = JSON.parse(`!{JSON.stringify(entry)}`);
                return { entry }
            }
        }).mount("#app");

block content
    .content
        #app
            <edit-entry :entry=entry></edit-entry>

        .entry-photos
        if entry.Photos.length
            each photo in entry.Photos
                img.round-border.entry-img(src="/" + photo.path)
