extends ../layout.pug

block title
    title WWMAIRS - #{entry.name}

block append scripts
    script(src="/public/webcomponents/entry-edit-view.js" type="module")
    script.
        if (!_data) {
            var _data = {};
        }
        _data['#{entry.id}'] = !{JSON.stringify(entry)};

block content
    .content
        entry-edit-view(entryId=entry.id)
