extends ../layout.pug

block title
    title WWMAIRS - #{entry.name}

block append scripts
    script(type="module").
        import { createApp, ref } from "vue"
        import Entry from "/vue/entry.js"
        createApp({
            components: {
                Entry
            },
            setup() {
                var entry = JSON.parse(`!{JSON.stringify(entry)}`);
                return { entry }
            }
        }).mount("#app")

block content
    .content
        #app
            <Entry :entry=entry></Entry>
